remote_theme: yous/whiteglass
plugins:
  - jekyll-remote-theme
  - jekyll-feed
  - jekyll-seo-tag
  - jekyll-archives
  - jekyll-paginate
  - jekyll-sitemap

permalink: /:year/:month/:day/:title/
paginate_path: /posts/:num/
paginate: 5

jekyll-archives:
  enabled:
    - categories
    - tags
  layout: category_archives
  permalinks:
    category: /categories/:name/
    tag: /tags/:name/

header_pages:
  - index.md
  - about.md

title: An act of prokristination
description: Here, I will dump recipes - edible or otherwise. 
url: "https://onehitko.github.io/" 
